models/
notes/
logs/

data/raster/tiles/
data/raster/geotiffs/
data/processed/
data/hf
data/cached_datasets/

notebooks/.ipynb_checkpoints/

**/*.tif
**/.DS_Store

.cursorrules
.newrules
cursorrules.txt